<div style="text-align:center">
	<h1>
		Welcome to Shift Planner App!!
	</h1>
	<nav>
		<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a> |
		<a routerLink="/agents" routerLinkActive="active">Agents</a> |
		<a routerLink="/shifts" routerLinkActive="active">Shifts log</a>
	</nav>
</div>

<router-outlet *ngIf="componentInitialized"></router-outlet>

<milo-loading (onReloadRequested)="reload()"></milo-loading>

<footer>
	Copyright Richard Casar
</footer>